<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Raul Sanchez <raul@caliandras.com></title>
<link rel="stylesheet" type="text/css" href="/assets/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/assets/orbit-1.2.3.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/assets/jquery.fancybox-1.3.4.css" media="screen" />
<!--[if lt IE 9]><script type="text/javascript" src="assets/scripts/modernizr.js"></script><![endif]-->
</head>
<body>
<div class="wrapper">
  <header>
    <h1>Raul's Blog</h1>
  </header>
  <div class="nav-container">
    <nav>
      <ul>
        <li><a href="/#home" class="selected">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/blog/index">Blog</a></li>
        <li><a href="/#shortcodes">Shortcodes</a></li>
        <li><a href="/#gallery">Gallery</a></li>
        <li><a href="/#contact">Contact</a></li>

      </ul>
      <div class="nav-left"></div>
      <div class="nav-right"></div>
      <div class="nav-above"></div>
    </nav>
  </div>

  <section id="articles">
    <h1 class="title">Articles</h1>
    <blockquote> Soy la puta hostia pero esto es solo una puta prueba para ver como queda aqui una frase decentilla</blockquote>
    <div class="row">
      <div class="twelve columns"> 
        <%= yield %>
      </div>
    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 
<script type="text/javascript" src="/assets/jquery.orbit-1.2.3.min.js"></script> 
<script type="text/javascript" src="/assets/jquery.tweet.js"></script> 
<script type="text/javascript" src="/assets/jflickrfeed.js"></script> 
<script type="text/javascript" src="/assets/jquery.fancybox-1.3.4.pack.js"></script> 
<script type="text/javascript" src="/assets/jquery.scrollTo-1.4.2-min.js"></script> 
<script type="text/javascript" src="/assets/waypoints.min.js"></script> 
<script type="text/javascript" src="/assets/navbar.js"></script> 
<script type="text/javascript" src="/assets/functions.js"></script>
</body>
</html>
